/*
Google fontes
*/
@import url("https://fonts.googleapis.com/css2?family=DynaPuff&family=Heebo:wght@600&family=Montserrat:wght@300;400&family=Noto+Sans:wght@400;900&family=Permanent+Marker&family=Playfair+Display:ital@1&family=Poppins:wght@700;800&family=Questrial&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box !important;
    font-family: 'Poppins', sans-serif;
    text-decoration: none !important;
    list-style: none ;
}

:root {
    --bg-color: #fff;
    --text-color: white;
    --main-color: rgb(255, 104, 49);
}

body {
    min-height: 100vh;
    background: var(--bg-color);
    color: var(--text-color);
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: black;
    padding: 28px 12%;
    transition: all .50s ease;
}


.has-submenu,
.atividades {
    position: relative;
}

.submenu-itens {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 200px;
    background-color: var(--main-color);
    border-radius: 10px;
    transition: all .50s ease;
    flex-direction: column;
    justify-content: flex-start;
}


.submenu-itens {
    z-index: 1002;
}

.atividades:hover,
.has-submenu:hover .submenu-itens {
    display: block;
}

#logo {
    display: flex;
    align-items: center;
    color: var(--text-color);
    font-size: 1.7rem;
    font-weight: 500;
}

#logotipo {
    object-fit: cover;
    margin-right: 2px;

}

#logo-name {
    display: block;
    margin-left: 2px;
}

.navigation-bar {
    display: flex;
    list-style: none;
}

.navigation-bar li {
    margin-right: 20px;
}

.navigation-bar a {
    color: var(--text-color);
    font-size: 1.1rem;
    font-weight: 500;
    padding: 5px 0;
    margin: 0px 3px;
    transition: all .50s ease;

}


#contact-us,
#integrant-1,
#integrant-2,
#work-us {
    color: var(--bg-color);
}

#contact-us:hover,
#integrant-1:hover,
#integrant-2:hover,
#work-us:hover {
    color: black;
}

.navigation-bar a:hover {
    color: var(--main-color);

}

.main {
    display: flex;
    align-items: center;
}

.main a {
    margin-right: 25px;
    margin-left: 10px;
    color: var(--text-color);
    font-size: 1.2rem;
    font-weight: 500;
    transition: all .50s ease;
}

.main a:hover {
    color: var(--main-color);
}

#menu-icon {
    font-size: 35px;
    color: var(--text-color);
    cursor: pointer;
    z-index: 1001;
    display: none;
}

#wpp-icon {
    font-size: 24px;
    color: #FFFFFF;
    margin-right: 18px;
    margin-left: 20px;
}

.ri-whatsapp-fill {
    background-color: rgb(96, 172, 89);
    color: white;
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 5px 10px;
    border-radius: 10px;
    justify-content: center;
}

.ri-whatsapp-fill a {
    justify-content: center;
    width: 8px;
    height: 8px;
}

@media (max-width: 1330px) {
    header {
        padding: 14px 2%;
        transition: .2s;
    }

    .navigation-bar a {
        padding: 5px 0;
        margin: 0px 20px;
    }

    #logo-name {
        display: none;
    }

}

@media (max-width: 1690px) {
    #menu-icon {
        display: block;
    }

    .navigation-bar {
        position: absolute;
        top: 100%;
        right: -100%;
        width: 270px;
        height: auto;
        background: var(--main-color);
        /* Color: coral */
        flex-direction: column;
        justify-content: flex-start;
        border-radius: 10px;
        transition: all .50s ease;
    }

    .navigation-bar a {
        display: block;
        margin: 2px 0;
        padding-top: 5px;
        padding-left: 15px;
    }

    .navigation-bar a:hover {
        color: var(--text-color);
        transform: translateY(5px);
    }

    .navigation-bar a.active {
        color: var(--text-color);

    }

    .navigation-bar.open {
        right: 2%;
    }
}